{% extends "layout.html" %}

{% block main %}

    <form action="register" method = "post">
        <div class="mb-3">
            <input name = "username" class="form-control mx-auto w-auto" type="text" placeholder= "Username" autofocus autocomplete="off"/>
        </div>
        <div class="mb-3">
            <input name="password" class="form-control mx-auto w-auto" type="password" placeholder="Password" />
        </div>
        <div class="mb-3">
            <input name="confirmation" class="form-control mx-auto w-auto" type="password" placeholder="confirme your password" />
        </div>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit" >Register</button>
        </div>
    </form>

{% endblock %}